@model FileSystemNode
@{
    ViewData["Title"] = "Directory";
}

<h1>@Model.NodePath</h1>

<table>
    @foreach (FileSystemNode childNode in Model.ChildNodes)
    {
        <tr>
            <td><a asp-area="FileManager" asp-controller="FileExplorer" asp-action="Browse" asp-route-base64Path="@childNode.NodePathBase64">@childNode.NodePath</a></td>
            <td>@childNode.Size</td>
        </tr>
    }
</table>

<a asp-area="FileManager" asp-controller="FileExplorer" asp-action="Download" asp-route-base64Path="@Model.NodePathBase64">Download</a>