@model FileSystemNode
@{
    ViewData["Title"] = "Directory";
}

<h1>@Model.NodePath</h1>

<div class="d-inline">
    <button form="download-form" type="submit" class="btn btn-dark">Download</button>
    <button form="delete-directory-form"type="submit" class="btn btn-danger">Delete</button>
</div>

<form id="download-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Download" asp-route-base64Path="@Model.NodePathBase64" method="get"></form>

<form id="delete-directory-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Delete" method="post">
    <textarea name="base64path" class="d-none">@Model.NodePathBase64</textarea>
</form>

<form id="rename-directory-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Rename" method="post" class="form-inline">
    <textarea name="base64path" class="d-none">@Model.NodePathBase64</textarea>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" name="newName" placeholder="Rename" />
    </div>
    <button type="submit" class="btn btn-primary">Rename</button>
</form>

<form id="rename-file-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Move" method="post" class="form-inline">
    <textarea name="base64path" class="d-none">@Model.NodePathBase64</textarea>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" name="urlBase64NewPath" placeholder="Move" />
    </div>
    <button type="submit" class="btn btn-primary">Move</button>
</form>

<form id="create-directory-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="CreateDirectory" asp-route-base64Path="@Model.NodePathBase64" method="post" class="form-inline">
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" name="newDirectoryName" placeholder="New Directory Name" />
    </div>
    <button type="submit" class="btn btn-primary">Create New Directory</button>
</form>

<form id="create-directory-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="UploadFiles" method="post" enctype="multipart/form-data" class="form-inline">
    <textarea name="base64path" class="d-none">@Model.NodePathBase64</textarea>
    <label for="upload-files" class="mb-2 mr-sm-2">Choose files to upload:</label>
    <div class="input-group mb-2 mr-sm-2">
        <input type="file" name="uploadedFiles" multiple id="upload-files" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-success mb-2">Upload</button>
</form>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FileSystemNode childNode in Model.ChildNodes)
            {
                <tr>
                    <td><a asp-area="FileManager" asp-controller="FileExplorer" asp-action="Browse" asp-route-base64Path="@childNode.NodePathBase64">@childNode.Name</a></td>
                    <td>@childNode.Size</td>
                    @{
                        if (childNode.IsDirectory)
                        {
                            <td>Directory</td>
                        }
                        else if (childNode.IsFile)
                        {
                            <td>File</td>
                        }
                        else
                        {
                            <td>Unknown</td>
                        }
                    }
                    <td>
                        <form id="download-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Download" asp-route-base64Path="@childNode.NodePathBase64" method="get">
                            <button type="submit" class="btn btn-dark">Download</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>