@model FileSystemNode
@{
    ViewData["Title"] = "File";
}

@section Styles {
    <link rel="stylesheet" href="~/Areas/FileManager/css/file.css" />
}

<h1>
    @foreach (FileSystemNode ancestorNode in Model.Ancestors)
    {
        <text>/ </text><a asp-area="FileManager" asp-controller="FileExplorer" asp-action="Browse" asp-route-base64Path="@ancestorNode.NodePathBase64">@ancestorNode.Name</a>
    }
</h1>

<div class="d-inline">
    <button form="download-form" type="submit" class="btn btn-dark">Download</button>
    <button form="delete-directory-form" type="submit" class="btn btn-danger">Delete</button>
</div>

<form id="download-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Download" asp-route-base64Path="@Model.NodePathBase64" method="get"></form>

<form id="delete-directory-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Delete" method="post">
    <textarea name="base64path" class="d-none">@Model.NodePathBase64</textarea>
</form>

<form id="rename-file-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Rename" method="post" class="form-inline">
    <textarea name="base64path" class="d-none">@Model.NodePathBase64</textarea>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" name="newName" placeholder="Rename" />
    </div>
    <button type="submit" class="btn btn-primary">Rename</button>
</form>

<form id="rename-file-form" asp-area="FileManager" asp-controller="FileExplorer" asp-action="Move" method="post" class="form-inline">
    <textarea name="base64path" class="d-none">@Model.NodePathBase64</textarea>
    <div class="input-group mb-2 mr-sm-2">
        <input type="text" name="urlBase64NewPath" placeholder="Move" />
    </div>
    <button type="submit" class="btn btn-primary">Move</button>
</form>

@if (Model.MimeType.StartsWith("image"))
{
    <img src="@Model.NodePathURL" alt="Your browser does not support this image format, you can download it instead." class="media-file" />
}

@if (Model.MimeType.StartsWith("video"))
{
    <video src="@Model.NodePathURL" controls class="media-file">Your browser does not support this video file, you can download it instead.</video>
}

@if (Model.MimeType.StartsWith("audio"))
{
    <audio src="@Model.NodePathURL" controls class="media-file">Your browser does not support this audio file, you can download it instead.</audio>
}
